
@font-face {
  font-family: 'Kontur-Iconic-eco';
  src: url('Kontur-Iconic-eco.eot?#iefix') format('embedded-opentype'),  url('Kontur-Iconic-eco.woff') format('woff'), url('Kontur-Iconic-eco.ttf')  format('truetype'), url('Kontur-Iconic-eco.svg#Kontur-Iconic-eco') format('svg');
  font-weight: normal;
  font-style: normal;
}
